<p id="notice"><%= notice %></p>

<h1>Schemes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Payout limit</th>
      <th>Excess</th>
      <th>Premium</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schemes.each do |scheme| %>
      <tr>
        <td><%= scheme.name %></td>
        <td><%= scheme.description %></td>
        <td><%= scheme.payout_limit %></td>
        <td><%= scheme.excess %></td>
        <td><%= scheme.premium %></td>
        <td><%= link_to 'Show', scheme %></td>
        <td><%= link_to 'Edit', edit_scheme_path(scheme) %></td>
        <td><%= link_to 'Destroy', scheme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scheme', new_scheme_path %>
