<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scheme.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @scheme.description %>
</p>

<p>
  <strong>Payout limit:</strong>
  <%= @scheme.payout_limit %>
</p>

<p>
  <strong>Excess:</strong>
  <%= @scheme.excess %>
</p>

<p>
  <strong>Premium:</strong>
  <%= @scheme.premium %>
</p>

<%= link_to 'Edit', edit_scheme_path(@scheme) %> |
<%= link_to 'Back', schemes_path %>
